<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client"/>
    <section name="microsoft.xrm.portal" type="Microsoft.Xrm.Portal.Configuration.PortalCrmSection, Microsoft.Xrm.Portal"/>
  </configSections>

  <connectionStrings>
    <add name="Xrm" connectionString="ServiceUri=...; Domain=...; Username=...; Password=..."/>
  </connectionStrings>

  <microsoft.xrm.portal>
    <portals>
      <add name="Xrm"/>
    </portals>
  </microsoft.xrm.portal>

  <microsoft.xrm.client
   sectionProviderType="Microsoft.Xrm.Client.Configuration.CrmConfigurationProvider, Microsoft.Xrm.Client">
    <contexts default="Xrm">
      <add name="Xrm" type="Microsoft.Xrm.Client.CrmOrganizationServiceContext, Microsoft.Xrm.Client"/>
    </contexts>
    <!--<services default="Xrm">
      <add
       name="Xrm"
       type="Microsoft.Xrm.Client.Services.CachedOrganizationService, Microsoft.Xrm.Client"
       serviceCacheName="Xrm"
       instanceMode="Static"
    />
    </services>
    <serviceCache default="Xrm">
      <add
       name="Xrm"
       type="Microsoft.Xrm.Client.Services.OrganizationServiceCache, Microsoft.Xrm.Client"
       objectCacheName="Xrm"
       cacheMode="LookupAndInsert"
       returnMode="Cloned"
       queryHashingEnabled="false"
    />
    </serviceCache>
    <objectCache default="Xrm">
      <add
       name="Xrm"
       type="System.Runtime.Caching.MemoryCache, System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
       instanceMode="Static"
       absoluteExpiration=""
       slidingExpiration="00:00:00"
       duration="00:00:00"
       priority="Default"
       outputCacheProfileName="Xrm"
    />
    </objectCache>-->
  </microsoft.xrm.client>

  <location path="Services/Cms.svc">
    <system.web>
      <authorization>
        <allow roles="My Portal Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
